// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  margin: 20px;
  font-weight: bold;
}

.fashion_image {
  background: url("fashion_image.jpg" );
}

.footer {
  color : white;
  background-color: black;
  text-align: center;
  height: 100px;
}

ul.side_menu {
  margin-right: 20px;
}

.side_menu li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  
}

.side_menu li p {
   font-size: 10px;
}

nav.page {
  border-top: 1px solid #e7e7e7;
}

.bigger_screen {

}
